div {
  color: blue;
  background: blue;
}
div1 {
  width: 100px;
}
div2 {
  width: 200px;
}
div3 {
  width: 300px;
}
div4 {
  width: 400px;
}
div5 {
  width: 500px;
}
div6 {
  width: 600px;
}
div7 {
  width: 700px;
}
div8 {
  width: 800px;
}
div9 {
  width: 900px;
}
